#slider {
    position: relative;
    width: 100%;
}

#slider img {
    width: 100%;
}

.controls {
    text-align: center;
}
.controls li {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 3rem;
    line-height: 3rem;
    padding: 0 0.75rem;
    cursor: pointer;
    transition: background 0.3s;
}
.controls li img {
    display: inline-block;
    vertical-align: middle;
}
.controls .prev {
    left: 0;
}
.controls .next {
    right: 0;
}
.controls li {
    background: rgba(255, 255, 255, 0.8);
}
.controls li:hover {
    background: #fff;
}

.navbar, .navbar-brand {
    min-height: 4.25rem;
}

.navbar-burger {
    height: 4.25rem;
    width: 4.25rem;
}

.button.is-primary {
    background-color: #e67e22;
}

.button.is-primary:hover, .button.is-primary:active {
    background-color: #f78f33;
}

.navbar-item img {
    max-height: 2.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#iisf {
    color: #cc2222;
    font-weight: 700;
}

#wed2018 {
    color: darkgreen;
    font-weight: 700;    
}

.is-blinking {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.hero-foot img {
    position: relative;
    bottom: 0;
}

footer.notification:not(:last-child) {
    margin-bottom: 0;
}

.content ol li ol {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.box {
    padding: 2rem 2.5rem;
}

.content a.is-primary:not(.button) {
    color: #e67e22 !important;
}

.content a.is-primary:visited:not(.button), .content a.is-primary:hover:not(.button) {
    color: #f8a052 !important;
} 

hr {
    background-color: #ddd;
}


@media (max-width:1024px) {
    .hero-body.has-mobile-padding {
        padding: 1rem 0;
    }
}